[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
celery = "*"
drf-yasg = "*"
django-cors-headers = "*"
django-environ = "*"
mysqlclient = "*"
django-chapa = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.12"
